# Platform ayarları
target_platform=linux
target_arch=x64

# SWC ayarları
SWC_BINARY_DOWNLOAD=false
SWC_BINARY_PATH=@next/swc-linux-x64-gnu

# Node.js ayarları
NODE_OPTIONS=--no-experimental-fetch

# Kurulum ayarları
legacy-peer-deps=true
strict-peer-deps=false
prefer-offline=true
frozen-lockfile=false

# Önbellek ayarları
cache-min=999999999
prefer-offline=true
prefer-online=false
